<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title">Collage</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button id="add" type="button" class="btn btn-primary" data-bs-toggle="model" data-bs-target="#CollageModel">Add Student</button>                       
                    </div>       @* id="add" *@
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table">     @* id="table" *@
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Roll</th>
                                <th class="text-center">Department</th>
                                <th class="text-center">Action</th>                             
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="CollageModel" tabindex="-1" aria-labelledby="labelTitle" aria-hidden="true">
    @* id = CollageModel *@
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelTitle">Add Student</h5>                                 @*  id="labelTitle" *@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="StudentForm"> @* id="StudentForm" *@
                    <div class="row">
                        <input type="hidden" id="id" />
                        <div class="col-12">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" required />
                        </div>
                        <div class="col-12 mt-1">
                            <label for="rol">Roll</label>
                            <input type="number" name="rol" id="rol" required />
                        </div>
                        <div class="col-12 mt-1">
                            <label for="department">Department</label>
                            <select type="text" name="department" id="department" required></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>   @* id="btnSave" *@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="labelTitle" aria-hidden="true">
    @* id =deleteModal *@
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelTitle">Confirmation</h5>                                 @*  id="labelTitle" *@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this item</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnDelete">Delete</button>   @* id="btnSave" *@
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function getAllStudents(){
            $.ajax({
                url: "/Collage/GetAllStudent",
                type: "get",
                success: function (data) {
                    let tbody = '';
                    $.each(data, function (key, val) {
                        tbody += `
                             <tr>
                                <th class="text-center">${key + 1}</th>
                                <th class="text-center">${val.Name}</th>
                                <th class="text-center">${val.Rol}</th>
                                <th class="text-center">${val.Department}</th>
                                 <th class="d-flex justify-content-center">
                                    <a class="btn btn-primary btn-sm edit" data-id="${val.id}">Edit</a>
                                    <a class="btn btn-danger btn-sm delete" data-id="${val.id}">Delete</a>
                                </th>
                            </tr> `;

                    });
                    $('#table tbody').empty();
                    $('#table tbody').append(tbody);
                },
            });
        }

        $(document).on("click", ".edit", function (el) { 
        
        })
        
        $("#btnSave").click(function (el) {
            el.preventDefault();
            if (!$("StudentForm").valid()) {
                return;
            }
            let names = $('name').val;
            let rols = $('rol').val();
            let departments = $('department').val();

            $.ajax({
                url: "/Collage/Create",
                type: "post",
                data: {
                    name: names,
                    rol: roles,
                    department: departments
                },
                success: function (data) {
                    getAllStudents();
                    $('#CollageModel').modal('hide');
                    $('#StudentForm').trigger('reset');
                },

            });
        });
      
        $(document).ready(function () {
            getAllStudents();
        });
    </script>
}